body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#quote-box {
  opacity: 1;
  animation: slowly 1s linear; 
}

@keyframes slowly {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

#text {
  font-size: 2em;
}

#author {
  font-size: 1em;
}

